@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

body {
	background:#039;
}

.container{
	text-align:center;
	background:#FFF;
	width:600px;
	height:100px;
	margin:13% auto auto auto;
	padding:40px 10px 40px 10px;
	-moz-border-radius: 6px;/
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.link{
	margin-top:30px;
	color:#6C0;
}